#playMenuButton:hover{
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

#mainMenuButton{
    -fx-background-image: url('../assets/ui/button_primary_right.png');
    -fx-font-family: "Times New Roman";
    -fx-background-color: rgba(0,0,0,0);
    -fx-pref-width: 170;
    -fx-pref-height: 55;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#mainMenuButton:hover{
    -fx-background-image: url('../assets/ui/button_primary_right_glow.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}

#logoutButton{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-image: url('../assets/ui/button_icon_left.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-pref-height: 50;
    -fx-font-size: 15;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: white;
}
#logoutButton:hover{
    -fx-background-image: url('../assets/ui/button_icon_left_glow.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}
#backButton{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-image: url('../assets/ui/button_icon_left.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-font-size: 26;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: white;
}
#backButton:hover{
    -fx-background-image: url('../assets/ui/button_icon_left_glow.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}


#leaderBoardHeader{
    -fx-background-image: url('../assets/arena/gauntlet_control_bar_bg.png');
    -fx-background-size: cover;
}

@font-face {
    -fx-font-family: Lato-Regular;
    -fx-src: url('../assets/fonts/Lato-Regular.ttf') format('truetype')
}

#firstButton{
    -fx-font-family: "Times New Roman";
    -fx-background-image: url('../assets/ui/button_secondary.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-pref-width: 170;
    -fx-pref-height: 55;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#firstButton:hover{
    -fx-background-image: url('../assets/ui/button_secondary_glow.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}

#secondButton{
    -fx-font-family: "Times New Roman";
    -fx-background-image: url('../assets/ui/button_confirm.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-pref-width: 170;
    -fx-pref-height: 55;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#secondButton:hover{
    -fx-background-image: url('../assets/ui/button_confirm_glow.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}

#endTurnButton{
    -fx-font-family: "Times New Roman";
    -fx-background-image: url('../assets/ui/button_end_turn_mine.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-size: 240 80;

    -fx-font-size: 20;
    -fx-text-fill: white;
}

#endTurnButton:hover{
    -fx-background-image: url('../assets/ui/button_end_turn_mine_glow.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-size: 240 80;
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}
#settingButton{
    -fx-font-family: "Times New Roman";
    -fx-background-image: url('../assets/ui/button_primary_left.png');
    -fx-background-size: 130 50;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#settingButton:hover{
    -fx-background-image: url('../assets/ui/button_primary_left_glow@2x.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-size: 130 50;
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}
#friendsButton{
    -fx-font-family: "Times New Roman";
    -fx-background-image: url('../assets/ui/button_primary_right.png');
    -fx-background-size: 130 50;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 20;
    -fx-text-fill: white;
}
#friendsButton:hover{
     -fx-background-image: url('../assets/ui/button_primary_right_glow@2x.png');
     -fx-background-color: rgba(0,0,0,0);
     -fx-background-size: 130 50;
     -fx-scale-x: 1.04;
     -fx-scale-y: 1.04;
     -fx-cursor: hand;
 }
#replaceButton{
     -fx-font-family: "Times New Roman";
     -fx-background-color: rgba(0,0,0,0);
     -fx-background-size: 200 200;

     -fx-font-size: 20;
     -fx-text-fill: white;
}
#replaceButton:hover{
    -fx-font-family: "Times New Roman";
    -fx-background-image: url('../assets/ui/replace_inner_glow@2x.png');
    -fx-background-size: 100 100;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 20;
    -fx-cursor: hand;
}