@font-face {
    font-family: 'Trump';
}

.text {
    -fx-font-family: Trump;
    -fx-stroke-width: 0;
    -fx-font-size: 20;
    -fx-stroke: white;


}

.button{
    -fx-background-image: url('../assets/ui/button_secondary.png');
    -fx-background-color: rgba(0,0,0,0);
}

.button:hover{
    -fx-background-image: url('../assets/ui/button_secondary_glow.png');
    -fx-background-color: rgba(0,0,0,0);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}

