.list-view {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.list-cell {
    -fx-background-color: rgba(0, 100, 100, 0.4);
    -fx-padding: 0, 0, 0, 0;
    -fx-border-width: 0;
    -fx-border-height: 0;
    -fx-font-size: 20;
}

.list-cell:selected {
    -fx-background-color: rgba(0, 100, 100, 0.3);
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}