.text-field {
    -fx-font-size: 18;
    -fx-padding: 1, 1, 1, 1;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-border: gone;
    -fx-background-color: rgba(224, 255, 255, 0.7);
    -fx-background-radius: 20;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-alignment: center;
}