.scroll-pane {
    -fx-background-color: rgba(0, 0, 100, 0.5);
    -fx-color: rgba(70, 30, 120, 0.5);
}
.scroll-bar :hover{
    -fx-color: rgba(70, 30, 120, 0.8);
}
.scroll-bar :selected{
    -fx-color: rgba(70, 30, 120, 0.8);
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: rgba(0, 0, 100, 0.8);
}

.scroll-pane > .viewport {
    -fx-background-color: rgba(0, 0, 100, 0.5);
}

#scrollPaneOne {
    -fx-background-color: rgba(0, 255, 255, 0.2);
}

#scrollPaneOne .scroll-bar:vertical {
    -fx-background-color: rgba(0, 255, 255, 0.4);

}

#scrollPaneOne > .viewport {
    -fx-background-color: rgba(0, 255, 255, 0.2);
}